

/**************************************************************************/
/* Icon	/ Feature														  */
/**************************************************************************/

/*
@font-face {
    font-family: 'template-icon-feature';
    src: url('../font/template-icon-feature.eot?s9j8n8');
    src: url('../font/template-icon-feature.eot?#iefixs9j8n8') format('embedded-opentype'), url('../font/template-icon-feature.ttf?s9j8n8') format('truetype'), url('../font/template-icon-feature.woff?s9j8n8') format('woff'), url('../font/template-icon-feature.svg?s9j8n8#template-icon-feature') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'template-icon-feature';
    src: url(../fonts/icon-vehicle.ttf);
}

[class^="template-icon-feature-"],
[class*=" template-icon-feature-"] {
    font-family: 'template-icon-feature';
    speak: none;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.template-icon-feature-car-battery:before {
    content: "\61";
}

.template-icon-feature-car-key:before {
    content: "\62";
}

.template-icon-feature-electric-wrench:before {
    content: "\63";
}

.template-icon-feature-check-shield:before {
    content: "\64";
}

.template-icon-feature-truck:before {
    content: "\65";
}

.template-icon-feature-truck-tow:before {
    content: "\66";
}

.template-icon-feature-clock:before {
    content: "\67";
}

.template-icon-feature-phone-call:before {
    content: "\68";
}

.template-icon-feature-phone-circle:before {
    content: "\69";
}

.template-icon-feature-location-map:before {
    content: "\6a";
}

.template-icon-feature-car:before {
    content: "\6b";
}

.template-icon-feature-car-check:before {
    content: "\6c";
}

.template-icon-feature-car-checklist:before {
    content: "\6d";
}

.template-icon-feature-car-fix:before {
    content: "\6e";
}

.template-icon-feature-service-24h:before {
    content: "\6f";
}

.template-icon-feature-car-oil:before {
    content: "\70";
}

.template-icon-feature-car-lock:before {
    content: "\71";
}

.template-icon-feature-car-music:before {
    content: "\72";
}

.template-icon-feature-car-setting:before {
    content: "\73";
}

.template-icon-feature-check:before {
    content: "\74";
}

.template-icon-feature-eco-fuel:before {
    content: "\75";
}

.template-icon-feature-eco-fuel-barrel:before {
    content: "\76";
}

.template-icon-feature-eco-globe:before {
    content: "\77";
}

.template-icon-feature-eco-car:before {
    content: "\78";
}

.template-icon-feature-eco-nature:before {
    content: "\79";
}

.template-icon-feature-inflator-pump:before {
    content: "\7a";
}

.template-icon-feature-lightbulb:before {
    content: "\41";
}

.template-icon-feature-gps:before {
    content: "\42";
}

.template-icon-feature-oil-can:before {
    content: "\43";
}

.template-icon-feature-oil-gauge:before {
    content: "\44";
}

.template-icon-feature-oil-station:before {
    content: "\45";
}

.template-icon-feature-piggy-bank:before {
    content: "\46";
}

.template-icon-feature-road:before {
    content: "\47";
}

.template-icon-feature-seatbelt-lock:before {
    content: "\48";
}

.template-icon-feature-share-time:before {
    content: "\49";
}

.template-icon-feature-steering-wheel:before {
    content: "\4a";
}

.template-icon-feature-car-audio:before {
    content: "\4b";
}

.template-icon-feature-engine-belt:before {
    content: "\4c";
}

.template-icon-feature-camper:before {
    content: "\4d";
}

.template-icon-feature-wallet:before {
    content: "\4e";
}

.template-icon-feature-parking-sensor:before {
    content: "\4f";
}

.template-icon-feature-wrench:before {
    content: "\50";
}

.template-icon-feature-wrench-double:before {
    content: "\51";
}

.template-icon-feature-windshield:before {
    content: "\52";
}

.template-icon-feature-alarm:before {
    content: "\53";
}

.template-icon-feature-car-2:before {
    content: "\54";
}

.template-icon-feature-car-3:before {
    content: "\55";
}

.template-icon-feature-cog-double:before {
    content: "\56";
}

.template-icon-feature-email:before {
    content: "\57";
}

.template-icon-feature-gearbox:before {
    content: "\58";
}

.template-icon-feature-gauge:before {
    content: "\59";
}

.template-icon-feature-garage:before {
    content: "\5a";
}

.template-icon-feature-tunning:before {
    content: "\30";
}

.template-icon-feature-phone-call-24h:before {
    content: "\31";
}

.template-icon-feature-phone:before {
    content: "\32";
}

.template-icon-feature-video:before {
    content: "\33";
}

.template-icon-feature-image:before {
    content: "\34";
}

.template-icon-feature-images:before {
    content: "\35";
}

.template-icon-feature-quote:before {
    content: "\36";
}

.template-icon-feature-screwdriver:before {
    content: "\37";
}

.template-icon-feature-signal-warning:before {
    content: "\38";
}

.template-icon-feature-snow-crystal:before {
    content: "\39";
}

.template-icon-feature-speed-gauge:before {
    content: "\21";
}

.template-icon-feature-air-conditioning:before {
    content: "\40";
}

.template-icon-feature-heating:before {
    content: "\23";
}

.template-icon-feature-toolbox:before {
    content: "\24";
}

.template-icon-feature-engine-belt-2:before {
    content: "\25";
}

.template-icon-feature-toolbox-2:before {
    content: "\5e";
}

.template-icon-feature-wrench-screwdriver:before {
    content: "\26";
}

.template-icon-feature-caution-fence:before {
    content: "\2a";
}

.template-icon-feature-certificate:before {
    content: "\28";
}

.template-icon-feature-fax:before {
    content: "\29";
}

.template-icon-feature-headlight:before {
    content: "\2d";
}

.template-icon-feature-facebook:before {
    content: "\3d";
}

.template-icon-feature-twitter:before {
    content: "\5b";
}

.template-icon-feature-google-plus:before {
    content: "\5d";
}

.template-icon-feature-youtube:before {
    content: "\3b";
}

.template-icon-feature-pen:before {
    content: "\27";
}

.template-icon-feature-faq:before {
    content: "\5c";
}

.template-icon-feature-testimonials:before {
    content: "\2c";
}

.template-icon-feature-team:before {
    content: "\2e";
}

.template-icon-feature-person:before {
    content: "\2f";
}

.template-icon-feature-percent:before {
    content: "\60";
}

.template-icon-feature-shopping-cart:before {
    content: "\7e";
}

.template-icon-feature-check-2:before {
    content: "\7b";
}

.template-icon-feature-payment:before {
    content: "\7d";
}

.template-icon-feature-coffee:before {
    content: "\22";
}

.template-icon-feature-checklist:before {
    content: "\7c";
}

.template-icon-feature-fax-2:before {
    content: "\3c";
}

.template-icon-feature-user-chat:before {
    content: "\3e";
}

.template-icon-feature-spray-bottle:before {
    content: "\3a";
}

.template-icon-feature-vacuum-cleaner:before {
    content: "\3f";
}

.template-icon-feature-hose-nozzle:before {
    content: "\2b";
}

.template-icon-feature-water-drop:before {
    content: "\5f";
}
