/*--- --- --- --- --- --- --- --- --- --- 
1.1 Внутренняя страница (Шапка) - START
--- --- --- --- --- --- --- --- --- --- */
.section__header--pages {
    height: 300px;
    background: url(/img/header__pages/header-3.jpg);
    display: flex;
    align-items: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section__header--pages-yahts {
    height: 300px;
    background: url(/img/header__pages/header-3.jpg);
    display: flex;
    align-items: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section__header--pages h1 {
    text-align: right;
    margin-top: 65px;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
}

.section__header--pages-yahts h1 {
    text-align: right;
    margin-top: 65px;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
}

.section__header--pages .separator:after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0.18) 100%);
    position: absolute;
    content: "";

    width: 40%;
    right: 0%;
    margin-right: 2.99%;
}

.section__header--pages-yahts .separator:after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0.18) 100%);
    position: absolute;
    content: "";

    width: 40%;
    right: 0%;
    margin-right: 2.99%;
}

/*--- --- --- --- --- --- --- --- --- --- 
Внутренняя страница - END
--- --- --- --- --- --- --- --- --- --- */
/*--- --- --- --- --- --- --- --- --- --- 
1.2 Внутренняя страница (Блок с автомобилем) - START
--- --- --- --- --- --- --- --- --- --- */

.wrapper__inn-pages--car {
    margin-top: 50px;
}

.wrapper__inn-pages--car .wrapper__img--big-car {
    width: 100%;
    display: block;
    position: relative;
    background-size: contain;
    height: 390px;

    background-size: 100%;
    background-position: left;
    /* background-position: center; */
    background-repeat: no-repeat;
    border-radius: 3px;
    background-size: 100% !important;

}

.wrapper__inn-pages--car .block-sale {
    border: 2px solid #d6d6d69e;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);

    padding-top: 25px;
    margin: 0;
    padding-bottom: 25px;
}

.wrapper__inn-pages--car .block-sale .docs__item--img {
    border-radius: 2px;
}

.wrapper__inn-pages--car .block-sale #docs {
    margin-top: 0px;
}

.wrapper__inn-pages--car .block-sale #docs .item {
    margin: 0px;
}

.wrapper__inn-pages--car p.p__price {
    font-size: 20px;
}

.wrapper__inn-pages--car p.p__price > a {
    font-weight: 600;
    color: #2294db;
    text-decoration: dotted;
    border-bottom: 2px dotted;
    border-color: #2393d9;
}

.wrapper__inn-pages--car .h2__standart {
    color: #5e5e5e;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;

    font-weight: 400;
    margin-top: 0px;


    font-weight: 400;
}



.wrapper__inn-pages--car .h2__standart > span {
    color: #ff8100;
}


.wrapper__inn-pages--car .btn__inn-pages {
    border: none;
    outline: none;
    background: #2393d9;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 0px;

    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.wrapper__inn-pages--car .btn__inn-pages:hover {
    background: #4981a4;
    color: #fff;
}

.wrapper__inn-pages--car .btn__inn-pages:hover i {
    color: #fff;
    border-color: transparent;
}

.wrapper__inn-pages--car .btn__inn-pages:hover i:after {
    background: #fff;
}

.wrapper__inn-pages--car .btn__inn-pages i {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    border-left: 1px solid #ffffff;
    margin-left: 20px;
    padding-left: 15px;
    position: relative;
}

.wrapper__inn-pages--car .btn__inn-pages i:after {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 1px;
    height: 100%;
    background: #fff;
}

.wrapper__inn-pages--car .p__time--rental {
    display: block;
    float: right;
    width: 46%;
    margin-top: 12px;
    margin-bottom: 0px;
}

.wrapper__inn-pages--car .p__time--rental > i {
    font-size: 36px;
    display: block;
    float: left;
    margin-right: 10px;
    transform: translateY(4px);
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

.test__th--left {
    font-size: 14px;
    line-height: 21px;
    border-bottom: 2px;
    border-style: solid;
    /* border-color: #ff6a28; */
    background-color: #ffffff00;
    color: #121413;
    /* border: none; */
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #f4f4f4;
    width: 50%;
    border-left: none;
    border-right-color: #a6a6a62e;
    font-size: 15px;
}


.test__th--right {
    padding: 8px 10px 7px 0px;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 2px;
    border-style: solid;
    /* border-color: #ff6a28; */
    background-color: #ffffff00;
    color: #121413;
    border: none;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #f4f4f4;
    width: 50%;
    text-align: right;
    font-size: 15px;
}


.test__th {
    padding: 10px 0px 2px 10px;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 2px;
    border-style: solid;
    /* border-color: #ff6a28; */
    background-color: #ffffff00;

    border: none;
    text-align: left;
    font-weight: 500;
    /*    border-bottom: 2px solid #ff7b00;*/
    border-bottom: 2px solid #2393da;
    padding: 8px 10px 7px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #2b2b2b;
    text-align: center;
}


.text-right {
    text-align: right;
}

.table {

    transition: 0.3s;
    background-color: rgba(229, 229, 229, 0);
    padding: 20px;
    border: 1px solid #ff7b0000;
    box-shadow: 0px 0px 23px 1px rgba(255, 123, 0, 0);

}

.table:hover {
    transition: 0.3s;
    background-color: rgba(210, 231, 247, 0.11);
    padding: 20px;
    /* border: 1px solid #ff7b00; */
    box-shadow: 0px 0px 20px 1px #2393d8a1;
}


/*--- --- --- --- --- --- --- --- --- --- 
1.2 Внутренняя страница (Блок с автомобилем) - END
--- --- --- --- --- --- --- --- --- --- */
/*--- --- --- --- --- --- --- --- --- --- 
1.3 Внутренняя страница (Блок с ЯХТАМИ) - START
--- --- --- --- --- --- --- --- --- --- */

.wrapper__inn-pages--yaht {
    margin-top: 30px;
}

.wrapper__inn-pages--yaht .wrapper__img--big-yaht {
    width: 100%;
    display: block;
    position: relative;
    background-size: contain;
    min-height: 353px;
    background-size: 100%;
    background-position: left;
    /* background-position: center; */
    background-repeat: no-repeat;
    border-radius: 3px;
    background-size: 100% !important;
    background-repeat: no-repeat !important;

}

.wrapper__inn-pages--yaht .block-sale {
    border: 2px solid #d6d6d69e;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);

    padding-top: 25px;
    margin: 0;
    padding-bottom: 25px;
}

.wrapper__inn-pages--yaht .block-sale .docs__item--img {
    border-radius: 2px;
}

.wrapper__inn-pages--yaht .block-sale #docs {
    margin-top: 0px;
}

.wrapper__inn-pages--yaht .block-sale #docs .item {
    margin: 0px;
}

.wrapper__inn-pages--yaht p.p__price {
    font-size: 20px;
}

.wrapper__inn-pages--yaht p.p__price > a {
    font-weight: 600;
    color: #2294db;
    text-decoration: dotted;
    border-bottom: 2px dotted;
    border-color: #2393d9;
}

.wrapper__inn-pages--yaht .h2__standart {
    color: #5e5e5e;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;

    font-weight: 400;
    margin-top: 0px;


    font-weight: 400;
}



.wrapper__inn-pages--yaht .h2__standart > span {
    color: #ff8100;
}

.wrapper__inn-pages--yaht .btn__inn-pages {
    border: none;
    outline: none;
    background: #2393d9;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 0px;

    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.wrapper__inn-pages--yaht .btn__inn-pages:hover {
    background: #4981a4;
    color: #fff;
}

.wrapper__inn-pages--yaht .btn__inn-pages:hover i {
    color: #fff;
    border-color: transparent;
}

.wrapper__inn-pages--yaht .btn__inn-pages:hover i:after {
    background: #fff;
}

.wrapper__inn-pages--yaht .btn__inn-pages i {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    border-left: 1px solid #ffffff;
    margin-left: 20px;
    padding-left: 15px;
    position: relative;
}

.wrapper__inn-pages--yaht .btn__inn-pages i:after {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 1px;
    height: 100%;
    background: #fff;
}

.wrapper__inn-pages--yaht .p__time--rental {
    display: block;
    float: right;
    width: 46%;
    margin-top: 12px;
    margin-bottom: 0px;
}

.wrapper__inn-pages--yaht .p__time--rental > i {
    font-size: 36px;
    display: block;
    float: left;
    margin-right: 10px;
    transform: translateY(4px);
}


/*--- --- --- --- --- --- --- --- --- --- 
1.3 Внутренняя страница (Блок с ЯХТАМИ) - END
--- --- --- --- --- --- --- --- --- --- */
/*--- --- --- --- --- --- --- --- --- --- 
1.4 Внутренняя страница (НАВИГАЦИЯ для блока с яхтами) - START
--- --- --- --- --- --- --- --- --- --- */
#yahts-nav {
    margin-top: 40px;
    border-bottom: none;
}

#yahts-nav > li {
    flex-grow: 1;
    flex-basis: 140px;
    height: 120px;
    cursor: pointer;
    padding-top: 0px;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #E2E6E7;
    margin: 0px 0.5% 0.6% 0.5%;
    width: 24%;
}


#yahts-nav > li > a > span {
    color: #A8B1B6;

}

#yahts-nav > li > a > .icon__awesome {

    margin-bottom: 1px;
    margin-top: 2px;
    font-size: 43px;
    font-weight: 100;
    display: block;
    padding-bottom: 10px;
    padding-top: 3px;

}



#yahts-nav > li > a > .icon__yaht {
    font-size: 56px;
    display: block;
    padding-bottom: 2px;
}


#yahts-nav > li > a > span {
    font-size: 16px;
    font-weight: 600;

}

#yahts-nav > li.active > a > span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;

}

#yahts-nav > li > a {
    padding-top: 30px;
    height: 120px;
    padding-top: 5px;
}


#yahts-nav > li.active > a > .icon__car,
#yahts-nav > li.active > a > span {
    color: #ffffff;

}

#yahts-nav > li.active {
    flex-grow: 1;
    flex-basis: 140px;
    height: 120px;
    cursor: pointer;
    padding-top: 0px;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    background: #2593d8;
}

#yahts-nav > li.active > a,
#yahts-nav > li.active > a:focus,
#yahts-nav > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom-color: transparent;
    font-size: 16px;
    font-weight: 600;

}

#yahts-nav > li.active > a > img {
    display: block;
    margin: 0 auto;

}

#yahts-nav > li > a > img {
    display: block;
    margin: 0 auto;

}

/*--- --- --- --- --- --- --- --- --- --- 
1.4 Внутренняя страница (НАВИГАЦИЯ для блока с яхтами) - END
--- --- --- --- --- --- --- --- --- --- */
/*--- --- --- --- --- --- --- --- --- --- 
1.5 Внутренняя страница (НАВИГАЦИЯ для блока с автомобилями) - START
--- --- --- --- --- --- --- --- --- --- */
#cars-nav {
    margin-top: 40px;
    border-bottom: none;
}

#cars-nav > li {
    flex-grow: 1;
    flex-basis: 140px;
    height: 120px;
    cursor: pointer;
    padding-top: 0px;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #E2E6E7;
    margin: 0px 0.5% 0.6% 0.5%;
    width: 19%;
}


#cars-nav > li > a > span {
    color: #A8B1B6;

}

#cars-nav > li > a > .icon__awesome {

    margin-bottom: 1px;
    margin-top: 2px;
    font-size: 43px;
    font-weight: 100;
    display: block;
    padding-bottom: 10px;
    padding-top: 3px;

}



#cars-nav > li > a > .icon__car--new {
    font-size: 56px;
    display: block;
    padding-bottom: 2px;
}


#cars-nav > li > a > span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

}

#cars-nav > li.active > a > span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;

}

#cars-nav > li > a {
    padding-top: 30px;
    height: 120px;
    padding-top: 5px;
}


#cars-nav > li.active > a > .icon__car,
#cars-nav > li.active > a > span {
    color: #ffffff;

}

#cars-nav > li.active {
    flex-grow: 1;
    flex-basis: 140px;
    height: 120px;
    cursor: pointer;
    padding-top: 0px;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    background: #2593d8;
}

#cars-nav > li.active > a,
#cars-nav > li.active > a:focus,
#cars-nav > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom-color: transparent;
    font-size: 16px;
    font-weight: 600;

}

#cars-nav > li.active > a > img {
    display: block;
    margin: 0 auto;

}

#cars-nav > li > a > img {
    display: block;
    margin: 0 auto;

}

/*--- --- --- --- --- --- --- --- --- --- 
1.5 Внутренняя страница (НАВИГАЦИЯ для блока с автомобилями) - END
--- --- --- --- --- --- --- --- --- --- */
/*--- --- --- --- --- --- --- --- --- --- 
2.1 Внутренняя страница (Галерея) - START
--- --- --- --- --- --- --- --- --- --- */
#Gallery__Page__IN.gallery__item--5 .mosaicflow__item--Page__IN img {
    height: auto;
}

/*--- --- --- --- --- --- --- --- --- --- 
2.1 Внутренняя страница (Галерея) - END
--- --- --- --- --- --- --- --- --- --- */

@media (max-width: 768px) {

    /*--- --- --- --- --- --- --- --- --- --- 
1.1 Внутренняя страница (Шапка) - START
--- --- --- --- --- --- --- --- --- --- */
    .section__header--pages {
        height: 185px;

    }

    .section__header--pages h1 {
        margin-top: 46px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        line-height: 32px;
    }

    .section__header--pages-yahts {
        height: 185px;

    }

    .section__header--pages-yahts h1 {
        margin-top: 46px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        line-height: 32px;
    }


    /*--- --- --- --- --- --- --- --- --- --- 
Внутренняя страница - END
--- --- --- --- --- --- --- --- --- --- */


    /*--- --- --- --- --- --- --- --- --- --- 
1.5 Внутренняя страница (НАВИГАЦИЯ для блока с автомобилями) - START
--- --- --- --- --- --- --- --- --- --- */

    .mobile__menu--cars {
        text-align: center;
    }

    .mobile__menu--cars > button {
        float: none !important;
        background: #2393d9;
        color: #ffffff;
        border: 2px solid rgba(35, 147, 217, 0);
        border-radius: 0px;
        width: 100%;
        /* margin: 0 auto; */
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0px 0px 10px #38363dad;
        text-shadow: none;
    }

    .mobile__menu--cars > button:hover {

        color: #fff;
        background-color: #151516 !important;
        /* border-color: #adadad; */
        border-color: #b8080000 !important;
        transition: 0.3s;

    }

    .mobile__menu--cars #cars-nav {
        /*
    margin-top: 0px;
    border-bottom: none;
        
            margin-top: 0px;
    border-bottom: none;
    margin-right: 15px;
    margin-left: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transform: translateY(-2px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
*/


        margin-top: 0px;
        border-bottom: none;
        margin-top: 0px;
        border-bottom: none;
        /* margin-right: 15px; */
        /* margin-left: 15px; */
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transform: translateY(0px);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        padding-top: 0px;
        margin-top: 0px;
        border-top: 0px;
        border-left: none;
        padding-bottom: 0px;
    }

    #cars-nav > li {
        flex-grow: 1;
        flex-basis: 90px;
        height: 90px;
        cursor: pointer;
        padding-top: 0px;
        text-align: center;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: #E2E6E7;
        /*
    margin: 0px 0.3% 0.3% 0.3%;
    width: 33%;
*/

        width: 50%;
        margin: 0;
    }


    #cars-nav > li > a > span {
        color: #A8B1B6;

    }

    #cars-nav > li > a > .icon__awesome {

        /*
    margin-bottom: 1px;
    margin-top: 2px;
    font-size: 30px;
    font-weight: 100;
    display: block;
    padding-bottom: 10px;
    padding-top: 3px;
*/

        margin-bottom: 1px;
        margin-top: 2px;
        font-size: 26px;
        font-weight: 100;
        display: block;
        padding-bottom: 3px;
        padding-top: 3px;
        color: #2593d8;

    }



    #cars-nav > li > a > .icon__car--new {
        font-size: 30px;
        display: block;
        padding-bottom: 2px;
        color: #2593d8;

    }

    #cars-nav > li.active > a > .icon__car--new {

        color: #ffffff;
    }


    #cars-nav > li > a > span {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;

    }

    #cars-nav > li.active > a > span {
        font-size: 14px;
        font-weight: 600;
        color: #fff;

    }

    #cars-nav > li > a {
        padding-top: 10px;
        height: 90px;
        padding-top: 5px;
    }


    #cars-nav > li.active > a > .icon__car,
    #cars-nav > li.active > a > span {
        color: #ffffff;

    }

    #cars-nav > li.active {
        flex-grow: 1;
        flex-basis: 140px;
        height: 90px;
        cursor: pointer;
        padding-top: 0px;
        text-align: center;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        background: #2593d8;
    }

    #cars-nav > li.active > a,
    #cars-nav > li.active > a:focus,
    #cars-nav > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom-color: transparent;
        font-size: 16px;
        font-weight: 600;
        background: none;

    }

    #cars-nav > li.active > a > img {
        display: block;
        margin: 0 auto;

    }

    #cars-nav > li > a > img {
        display: block;
        margin: 0 auto;

    }

    /*--- --- --- --- --- --- --- --- --- --- 
1.5 Внутренняя страница (НАВИГАЦИЯ для блока с автомобилями) - END
--- --- --- --- --- --- --- --- --- --- */



    /*--- --- --- --- --- --- --- --- --- --- 
1.6 Внутренняя страница (НАВИГАЦИЯ для блока с яхтами) - START
--- --- --- --- --- --- --- --- --- --- */

    .mobile__menu--yahts {
        text-align: center;
    }

    .mobile__menu--yahts > button {
        float: none !important;
        background: #2393d9;
        color: #ffffff;
        border: 2px solid rgba(35, 147, 217, 0);
        border-radius: 0px;
        width: 100%;
        /* margin: 0 auto; */
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0px 0px 10px #38363dad;
        text-shadow: none;
    }

    .mobile__menu--yahts > button:hover {

        color: #fff;
        background-color: #151516 !important;
        /* border-color: #adadad; */
        border-color: #b8080000 !important;
        transition: 0.3s;

    }

    .mobile__menu--yahts #yahts-nav {

        margin-top: 0px;
        border-bottom: none;
        margin-top: 0px;
        border-bottom: none;
        /* margin-right: 15px; */
        /* margin-left: 15px; */
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transform: translateY(0px);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 0px;
        margin-top: 0px;
        border-top: 0px;
        border-left: none;
        padding-bottom: 0px;
    }

    #yahts-nav > li {
        flex-grow: 1;
        flex-basis: 90px;
        height: 90px;
        cursor: pointer;
        padding-top: 0px;
        text-align: center;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: #E2E6E7;
        width: 50%;
        margin: 0;
    }


    #yahts-nav > li > a > span {
        color: #A8B1B6;
    }

    #yahts-nav > li > a > .icon__awesome {
        margin-bottom: 1px;
        margin-top: 2px;
        font-size: 26px;
        font-weight: 100;
        display: block;
        padding-bottom: 3px;
        padding-top: 3px;
        color: #2593d8;

    }



    #yahts-nav > li > a > .icon__car--new {
        font-size: 30px;
        display: block;
        padding-bottom: 2px;
        color: #2593d8;

    }

    #yahts-nav > li.active > a > .icon__car--new {

        color: #ffffff;
    }


    #yahts-nav > li > a > span {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;

    }

    #yahts-nav > li.active > a > span {
        font-size: 14px;
        font-weight: 600;
        color: #fff;

    }

    #yahts-nav > li > a {
        padding-top: 10px;
        height: 90px;
        padding-top: 5px;
    }


    #yahts-nav > li.active > a > .icon__car,
    #yahts-nav > li.active > a > span {
        color: #ffffff;
    }

    #yahts-nav > li.active {
        flex-grow: 1;
        flex-basis: 140px;
        height: 90px;
        cursor: pointer;
        padding-top: 0px;
        text-align: center;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        background: #2593d8;
    }

    #yahts-nav > li.active > a,
    #yahts-nav > li.active > a:focus,
    #yahts-nav > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom-color: transparent;
        font-size: 16px;
        font-weight: 600;
        background: none;

    }

    #yahts-nav > li.active > a > img {
        display: block;
        margin: 0 auto;

    }

    #yahts-nav > li > a > img {
        display: block;
        margin: 0 auto;
    }

    /*--- --- --- --- --- --- --- --- --- --- 
1.6 Внутренняя страница (НАВИГАЦИЯ для блока с яхтами)  - END
--- --- --- --- --- --- --- --- --- --- */


    /*--- --- --- --- --- --- --- --- --- --- 
1.2 Внутренняя страница (Блок с автомобилем) - START
--- --- --- --- --- --- --- --- --- --- */

    .wrapper__inn-pages--car {
        margin-top: 0px;
    }



    .wrapper__inn-pages--car .block-sale {
        /*

        padding: 0px;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        
*/

        margin-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .wrapper__inn-pages--car .wrapper__img--big-car {
        width: 100%;
        display: block;
        position: relative;
        background-size: contain;
        height: 180px;
        background-size: 100%;
        background-position: left;
        /* background-position: center; */
        background-repeat: no-repeat;
        border-radius: 3px;
        background-size: cover !important;
        background-position: center !important;
        background-position-x: center !important;
        background-position-y: center !important;
    }

    .wrapper__inn-pages--car .h2__standart {
        color: #5e5e5e;

        font-size: 20px;
        margin-top: 8px;
    }

    .navbar-default .navbar-toggle {


        margin-top: 9px;
        margin-bottom: 0px;
    }


    .wrapper__inn-pages--car .p__time--rental {
        display: none;

    }

    .wrapper__inn-pages--car .btn__inn-pages {
        border: none;
        outline: none;
        background: #2393d9;
        font-size: 14px;
        line-height: 28px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 10px 0px;
        display: inline-block;
        border-radius: 3px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 50px;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: 9px;
        margin-top: 10px;
        padding-bottom: 9px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }

    .wrapper__inn-pages--car p.p__price {
        font-size: 17px;
    }




    /*--- --- --- --- --- --- --- --- --- --- 
1.2 Внутренняя страница (Блок с автомобилем) - START
--- --- --- --- --- --- --- --- --- --- */

    .wrapper__inn-pages--yaht {
        margin-top: 0px;
    }



    .wrapper__inn-pages--yaht .block-sale {
        /*

        padding: 0px;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        
*/

        margin-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .wrapper__inn-pages--yaht .wrapper__img--big-yaht {
        width: 100%;
        display: block;
        position: relative;
        background-size: contain;
        min-height: auto;
        height: 180px;
        background-size: 100%;
        background-position: left;
        /* background-position: center; */
        background-repeat: no-repeat;
        border-radius: 3px;
        background-size: cover !important;
        background-position: center !important;
        background-position-x: center !important;
        background-position-y: center !important;
    }

    .wrapper__inn-pages--yaht .h2__standart {
        color: #5e5e5e;

        font-size: 20px;
        margin-top: 8px;
    }

    .navbar-default .navbar-toggle {

/*

        margin-top: 9px;
        margin-bottom: 0px;
        
*/
        
        
            margin-top: 9px;
    margin-bottom: 0px;
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 35px;
    }


    .wrapper__inn-pages--yaht .p__time--rental {
        display: none;

    }

    .wrapper__inn-pages--yaht .btn__inn-pages {
        border: none;
        outline: none;
        background: #2393d9;
        font-size: 14px;
        line-height: 28px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 10px 0px;
        display: inline-block;
        border-radius: 3px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 50px;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: 9px;
        margin-top: 10px;
        padding-bottom: 9px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }

    .wrapper__inn-pages--yaht p.p__price {
        font-size: 17px;
    }




    /*--- --- --- --- --- --- --- --- --- --- 
3 Разные стили для моб. ВЕРСИИ - START
--- --- --- --- --- --- --- --- --- --- */
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        padding-bottom: 0px;
        background: #161616;
        margin-left: -30px;
        margin-right: -30px;
    }


    #Gallery__Page__IN {
        padding-top: 25px;
    }


    .section__header--pages .separator:after {


        content: "";
        width: 40%;
        right: 32%;
        margin-right: 2.99%;
    }
    .mobile__menu--cars >  .btn-default {
        text-align: left;
    }

    .btn-default.dropdown-toggle > .i__left {
        margin-right: 10px;
        font-size: 24px;
        transform: translateY(2px);
        transition: 0.2s;
        display: none;
    }

    .btn-default.dropdown-toggle:active > .i__left {

        transform: translateY(2px);
        transform: rotatex(180deg);
        transition: 0.2s;

    }

    .btn-default.dropdown-toggle:focus > .i__left {
        transform: rotatex(180deg);
        transition: 0.2s;
    }

    .btn-default.dropdown-toggle:active > .i__right {
        transform: rotatex(180deg);
        transition: 0.2s;
    }

    .btn-default.dropdown-toggle:focus > .i__right {

        transform: rotatex(180deg);
        transition: 0.2s;
    }

    .btn-default.dropdown-toggle > .i__right {
        margin-left: 10px;
        font-size: 24px;
        transition: 0.2s;
            float: right;
        transform: translateY(2px);
    }

    /*--- --- --- --- --- --- --- --- --- --- 
3 Разные стили для моб. ВЕРСИИ - END
--- --- --- --- --- --- --- --- --- --- */
}


 
    .x_car_offer_bottom_btn li.read-more__btn {
     width: 100%;
     float: none;
     background: #2194de;
}
    
    .x_car_offer_bottom_btn li.read-more__btn:last-child > a {
          background: #2194de;
    }


@media (max-width:768px) {

    #mobile__cars--nav {
        margin-top: 0px;
        border-bottom: none;
    }

    #mobile__cars--nav > li {
        flex-grow: 1;
        flex-basis: 90px;
        height: auto;
        cursor: pointer;
        padding-top: 0px;
        text-align: center;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: #E2E6E7;
        width: 50%;
        margin: 0;
        /* border: 1px solid #E2E6E7; */
        /* border-radius: 4px; */
        /* margin: 10px 10px; */
        border: none;
        margin-top: 0px;
        margin-bottom: 10px;
        /* box-shadow: 10px 10px 10px red; */
    }

    #mobile__cars--nav > li > a {
        padding-top: 10px;
        height: auto;
        padding-top: 5px;
        border: none;
        /*    border: 1px solid #E2E6E7;*/
        border-radius: 4px;
        margin: 10px 10px;
        padding-left: 0px;
        padding-right: 0px;
        /*    box-shadow: 0px 0px 10px #b4bdc0;*/


        border: 1px solid #2393d9;

        box-shadow: 0px 0px 10px rgba(35, 147, 217, 0.47843137254901963);

    }

    #mobile__cars--nav > li > a > .icon__car--new {
        font-size: 52px;
        display: block;
        padding-bottom: 2px;
    }

    #mobile__cars--nav > li > a > span {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #161616;


    }
    .nav.nav-tabs.dropdown-menu > li:nth-child(1),
    .nav.nav-tabs.dropdown-menu > li:nth-child(3),
    .nav.nav-tabs.dropdown-menu > li:nth-child(5) {
     border-right: 1px solid #E2E6E7!important;
    }
   

    .pl__pr--5 {
        padding-left: 5px;
        padding-right: 5px;
    }
}