.form-find {
	box-shadow: 0 4px 29px 0 rgba(110, 123, 157, 0.29);
	background-color: #fff;
	border-radius: 9px;
	text-align: left;
	overflow: hidden;
    margin-bottom: 20px;
}

.form-find.form-find-white .form-input {
	background-color: #f3f6fd;
}

.form-find.form-find-white .form-input,
.form-find.form-find-white .form-label {
	letter-spacing: 0.02em;
	color: #312f3b;
}

.form-find-header {
	padding: .9em 2.2em;
	color: #fff;
	background-color: #fdd55b;
    

    color: #1f1f1f;

    background-color: #ffcc01;
}

.form-find-body {
/*	padding: 20px 20px 30px;*/
}

.form-find-body.rd-mailform {
	margin-top: 0;
}

.section5 .wrapper-item {
/*        background: rgb(0, 169, 0);*/
    width: 25%;
    text-align: center;
    height: 100%;
/*
        padding-top: 15px;
    padding-bottom: 15px;
*/
/*    display: inline-block;*/
    float: left;
}
.section5 .wrapper-item a div{
     padding-top: 15px;
    padding-bottom: 15px;
}
.section5 .wrapper-item img{
  height: 65px;
    width: 65px;
}
.section5 .wrapper-item a:hover {
  text-decoration: none;
 
}
.section5 .wrapper-item a .whatsup {
        background: rgb(0, 169, 0);
     transition: 0.3s;
 
}
.section5 .wrapper-item a .whatsup:hover {
        background: rgb(3, 152, 3);
    transition: 0.3s;
 
}


.section5 .wrapper-item a .viber {
        background: #7b519b;
      transition: 0.3s;
   
}
.section5 .wrapper-item a .viber:hover {
        background: #74409b;
      transition: 0.3s;
   
}
.section5 .wrapper-item a .telegram {
        background: #2da5e2;
      transition: 0.3s;
   
}
.section5 .wrapper-item a .telegram:hover {
        background: #1a88c1;
      transition: 0.3s;
   
}
.section5 .wrapper-item a .vk {
        background: #7b6cb9;
      transition: 0.3s;
   
}
.section5 .wrapper-item a .vk:hover {
        background: #27578e;
      transition: 0.3s;
   
}
.section5 .wrapper-item p {
  
        font-size: 14px;
    font-weight: 600;
    color: rgb(240, 240, 240);
    margin-bottom: 0px;
    margin-top: 14px;
}

.section-chat {
         height: 170px;
    background: #2b2b2b;

}
.section5  {
       margin-bottom: 0px;
        transform: translateY(-57px);
}
.section5  h6{
     color: #1f1f1f;
    font-weight: 600;
    font-size: 18px;
}

@media (max-width: 767px) {
    .section-chat {
        padding-top: 20px;
         height: auto;
    background: #2b2b2b;

}
    .section5  {
        transform: none;
}
    .section5 .wrapper-item {
    width: 50%;

}
    .section5 .wrapper-item img{
  height: 50px;
    width: 50px;
}
}