    .owl-theme .owl-controls .owl-buttons .owl-next {
                    right: 2px;
                    top: 50%;
                    width: 80px;
                    height: 80px;
                    margin-top: -40px;
                }
                
                .owl-theme .owl-controls .owl-buttons .owl-prev {
                    left: 2px;
                    top: 50%;
                    width: 80px;
                    height: 80px;
                    margin-top: -40px;
                }


    .btn-price {
        float: left;
        margin-top: 10px;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.94);
        background: #f7911e;
        padding: 10px 50px;
        border-radius: 0px;
        font-size: 16px;
        width: 100%;
        text-align: left;
    }
    
    .btn-price:hover {
        background: #ff750a;
        color: #ffffff;
        transition: 0.2s;
    }
    
    .btn-def {
        color: #1F1F1F;
        background: #FFC61A;
        text-transform: uppercase;
        font-size: 16px;
        padding: 15px 60px;
        font-weight: 700;
/*        border-radius: 30px;*/
        border: none;
        transition: 0.2s;
        
        
        
        float: right;  margin-top:8px; border-radius:3px;
    }
    
    .btn-price > i {
        transition: 0.3s;
    }
    
    .btn-price > i {
        transform: translateX(10px);
        transition: 0.4s;
    }
    
    .btn-price:hover > i {
        transform: translateX(35px);
        transition: 0.4s;
    }
    
    .wrapper__car--page {
        margin-top: 50px;
    }
    
    .wrapper__car--page h1 {
        text-align: center;
        margin-bottom: 40px;
    }
    
    .wrapper__car--page .block-sale {
        border: 2px solid #feb805;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    
    .wrapper__car--page .block-sale .docs__item--img {
        border-radius: 2px;
    }
    
    .wrapper__car--page .block-sale #docs {
        margin-top: 20px;
    }
    
    .wrapper__car--page .block-sale #docs .item {
        margin: 0px;
    }
    
    .wrapper__car--page .mini__cena--p {
        text-decoration: line-through;
        color: #999;
        font-size: 16px;
    }
    
    .wrapper__car--page .block-sale .icon__car--page {
        height: 80px;
        margin: 0 auto;
        text-align: center;
    }
    
    .wrapper__car--page .block-sale .p__text--icon {
        margin-top: 8px;
        font-size: 12px;
    }
    
    .wrapper__car--page .block-sale .ul__bloc--car li {
        font-size: 14px;
    }
    
    .wrapper__car--page .wrapper__mini-img .prevue__mini--img {
        width: 33%;
        display: inline-block;
        padding: 5px;
/*
        border: 1px solid #313338;
        border-radius: 1px;
        transition: 0.3s;
*/
        
        border: 1px solid #84868a;
    border-radius: 1px;
    transition: 0.3s;
    text-align: center;
    }
    
    .wrapper__car--page .wrapper__mini-img .prevue__mini--img:hover {
        background: #f7901e;
        opacity: 0.7;
        transition: 0.3s;
        /*        transform: scale(1.1);*/
    }
    
    .wrapper__car--page .wrapper__mini-img .prevue__mini--img > a > img {
        height: 100px;
    }
    
    .seo__block--text p {
        font-size: 12px;
    }
    
    .seo__block--text p > strong {
        font-size: 14px;
    }
    
    .seo__block--text ul li {
        font-size: 12px;
    }
    
    .p-h1 {
        font-size: 16px;
    }
    
    .price__new {
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 12px
    }
    
    .price__new > span {
        font-size: 26px;
    }
    
    @media (max-width: 768px) {
        
        .row .box > .content {
                padding: 0 0px;
        }
           .btn-def {
     margin: 0 auto;
        
width: 100%;
               
               float: none;
    }
    
        
        .wrapper__car--page {
            margin-top: 20px;
            margin-bottom: 60px;
        }
        .wrapper__car--page h1 {
            margin-bottom: 20px;
        }
       
        .wrapper__car--page .block-sale {
            padding: 0;
            padding-bottom: 15px;
        }
        .row {
            padding-left: 0px;
            padding-right: 0px;
        }
        .ul__bloc--car {
            padding-left: 18px;
        }
        .wrapper__mini-img {
            display: none;
        }
        .plus__new {
            display: none;
        }
        .block-sale .p-h1 {
            font-weight: 600;
            font-size: 14px;
        }
        .wrapper__car--page .block-sale .ul__bloc--car li {
            font-size: 14px!important;
        }
        .price__new {
              font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-left: 2px solid #ffc400;
    padding-left: 10px;
    clear: both;
        }
        .price__new > span {
            font-size: 22px;
        }
        .btn-price {
            display: block;
                margin-bottom: 8px;
    margin-top: 5px;
    padding-left: 12px;
    font-size: 15px;
    line-height: 15px;
            clear: both;
            z-index: 999;
            position: relative;
        }
       
        .hr__new {
                 clear: both;
    display: block;
                margin-bottom: 15px;

        }
        
        .pl-pr-768-0 {
            padding-left: 0p;
            padding-right: 0px;
        }  
        .pl-pr-768-0 > div {
            padding-left: 0px;
            padding-right: 0px;
        }
        
        .btn__price--mobile {
                padding: 10px 0px;
    margin-top: 2px;
            
        }
    }
