@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@font-face {
    font-family: Copper-PennyDTP;
    src: url(../fonts/Copper-PennyDTP.ttf);
}

/*
@font-face {
    font-family: icon-vehicle;
    src: url(../fonts/icon-vehicle.ttf);
}

..template-icon-vehicle-small-car:before {
    
}
*/
/*-------------------------- header - menu: START --------------------------*/


/*

nav.navbar__main .navbar-nav {
    float: none;
    text-align: center;
}
*/



    .headline {
         text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    /* text-decoration: underline; */
    padding-left: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    background: #2593d8;
    /* text-decoration: underline; */
    margin-bottom: 10px;
    transform: translate(0px, -15px);
    margin-bottom: 0px;
    text-align: center;
    width: 99%;
    margin: 0 auto;
    }  
    
    .headline > span {
  font-weight: 900;
   color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }


.pl-40 {
    padding-left: 44px;
}

.pt-100 {
    padding-top: 100px;
}

.mt-30 {
    margin-top: 30px;
}

.p__neopredelen {
    text-align: left;
    color: #7a7a7a;
    font-size: 14px;
}

.section-standart {
    padding-top: 70px;
    padding-bottom: 60px;
}

.h2-title {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 22px;
    color: #333333;
    text-transform: uppercase;
}

.sub-title {
    text-align: center;
    font-size: 24px;
    margin-top: -43px;
    margin-bottom: 40px;
    color: rgba(51, 51, 51, 0.89);
    font-family: 'Roboto', sans-serif;
}

nav.navbar__main .navbar-nav li {
    float: none;
    display: inline-block;
}

.btn-default:hover {
    color: #fff;
    background-color: #b80800;
    /*    border-color: #adadad;*/
    border-color: #b80800;
    transition: 0.3s;
}

@media (max-width: 768px) {
    nav.navbar__main .nav.navbar-nav > li {
        display: block;
    }
}

.btn-danger {
    color: #fff;
    background-color: #ff5000;
    border-color: #ff5000;
    border-radius: 0px;
    /*
    padding-left: 35px;
    padding-right: 35px;
*/
    text-transform: uppercase;
    font-weight: 400;
    padding: 14px 29px 14px 29px;
}

.img-test {
    height: 414px;
    max-width: 585px;

}

/*-------------------------- header - menu: END --------------------------*/


/*-------------------------- header - carousel: START --------------------------*/

#MainCarousel {}

#MainCarousel.carousel.fade {
    opacity: 1;
    background-color: #030303;
}

#MainCarousel.carousel.fade .item {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
    height: 750px;
    height: 100vh;
    background: url(/img/header__bg.jpg);
    background-position-y: 15%;
    background-position-y: 15%;
    background-size: cover;
}

#MainCarousel.carousel.fade .item.active {
    position: relative;
    opacity: 1;
}

#header {
    position: absolute;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.logo__header > img {
    max-height: 80px;
}

.logo__header > p {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    transform: translateY(16px);
    margin-left: 16px;
    border-left: 1px solid white;
    border-left: 1px solid rgba(255, 255, 255, 0.64);
    padding-left: 16px;
}

.navbar__main {
    background: none;
    border: none;
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar {
    position: relative;
    min-height: 80px;
    border: none;
    box-shadow: none;
}

#MainCarousel {
    /*    height: 800px;*/
}

.navbar-nav {
    margin-top: 18px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    /*    line-height: 50px;*/
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
    text-align: right;
}

.navbar-nav {
    float: none;
    display: inline-block;
}

.social-list--header {
    position: relative;
    text-align: left;
    padding-left: 26px;
    margin-left: 26px;
    color: rgb(255, 255, 255);
    margin-top: 26px;
}

.social-list--header > a {
    /*
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    background-color: #ff5000;
    border-color: #ff5000;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 10px;
*/


    /*
        color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    background-color: #ff500000;
    border-color: #ff5000;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 10px;
    border: 1px solid white;
    border: 1px solid #fba707;
    border-radius: 4px;
    
*/




    /*
        color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    background-color: #bf9c60;
    border-color: #bf9c60;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 10px;
    border: 1px solid white;
    border: 1px solid #be9c60;
    border-radius: 4px;
*/

    /*
        color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    background-color: #4f5dec;
    border-color: #bf9c60;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 10px;
    border: 1px solid white;
    border: 1px solid #b1b8f7;
    border-radius: 4px;
*/

    /*
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    background-color: #2593d8;
    border-color: #bf9c60;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 10px;
    border: 1px solid white;
    border: 1px solid #2593d8ad;
    border-radius: 4px;
        background: linear-gradient(to bottom, #1a96e4 0%, #2593d8 100%);
        box-shadow: 0px 0px 10px 3px #2393d9;
       transition: 0.3s;
*/


    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    background-color: #2593d8;
    border-color: #bf9c60;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 10px;
    border: 1px solid white;
    border: 1px solid #2593d8ad;
    border-radius: 4px;
    background: linear-gradient(to bottom, #1a96e4 0%, #2593d8 100%);
    box-shadow: 0px 0px 10px 3px #2393d9;
    transition: 0.3s;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.social-list--header > a:hover {

    transition: 0.3s;
    box-shadow: 0px 0px 10px 3px rgba(35, 147, 217, 0);
    text-decoration: none;
}

.social-list--header:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 30px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.heading__text {
    padding-top: 150px;
    text-align: center;
}

.heading__text > .heading-title {
    color: rgba(255, 255, 255, 0.91);
    font-weight: 600;
    font-size: 48px;
    /*    font-family: Copper-PennyDTP;*/
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.heading__text > .heading-title > a {
    color: #1b95e2 !important;
}

.heading__text > .heading-desc {
    color: rgba(255, 255, 255, 0.91);
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    font-family: 'Roboto', sans-serif;
}

.btn-default {
    margin-top: 40px;
    /*
        color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #ccc;
    padding-left: 50px;
    padding-right: 50px;
*/
    /*
    padding-top: 8px;
    padding-bottom: 8px;
*/
    /*        box-shadow: 0px 0px 39px 8px #fff;*/
    border-radius: 0px;
    /*        box-shadow: 0px 0px 39px 8px #bf786fb0;*/
    color: #fff;
    background-color: #ff5000;
    border-color: #ff5000;
    text-transform: uppercase;
    font-weight: 400;
    padding: 19px 40px 19px 40px;
}


/* 2.6. ========== Pricing Section Start ==========*/

.pricing {}

.pricing h1 {
    text-align: center;
}

.pricing-bg .main-pricing .price-block .inner-price h3 {
    color: #9a9a9a;
}

.pricing-bg .main-pricing .price-block .inner-price h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.pricing-bg .main-pricing .price-block:hover .inner-price .main-btn {
    background-color: #fff;
    border-color: #fff;
}

.pricing .pricing-bg {
    < !-- background-image: url(../images/home-page/dark/pricing-border-line.png), url(../images/home-page/dark/pricing-border-line.png);
    -- >
}


/* 2.6. ========== Pricing Section End ==========*/


/* 4.6. ========== Pricing Section Start ==========*/

.pricing {
    float: left;
    width: 100%;
}

.pricing .pricing-bg {
    padding: 60px 0 16px 0;
    float: left;
    width: 100%;
    background-position: left top, left bottom;
    background-repeat: repeat-x, repeat-x;
    padding: 40px 0 70px 0;
    padding: 70px 0 60px 0;
}

.pricing-bg .main-pricing {
    float: left;
    width: 100%;
    /*	padding:44px 0 0 0;*/
}

.pricing-bg .main-pricing .price-block {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    border: 4px solid #ff5100;
    /*	padding:3px;*/
    cursor: pointer;
    border-radius: 2px;
    transition: 0.4s;
}

.pricing-bg .main-pricing .price-block .inner-price {
    padding: 40px 20px;
    padding-bottom: 30px;
    background-color: transparent;
    position: relative;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.pricing-bg .main-pricing .price-block:hover .inner-price {
    background-color: #ff5000ad;
}

.pricing-bg .main-pricing .price-block:hover {
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 10px #ff5100;
    box-shadow: 0px 0px 38px 4px #ff5100;
}

.pricing-bg .main-pricing .price-block .inner-price h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 56px;
    text-align: center;
    height: auto;
    text-align: center;
    height: 44px;
}

.pricing-bg .main-pricing .price-block:hover .inner-price h3 {
    color: #ffffff;
}

.pricing-bg .main-pricing .price-block .inner-price h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.pricing-bg .main-pricing .price-block:hover .inner-price h1 {
    color: #fff;
}

.pricing-bg .main-pricing .price-block .inner-price h1 span {
    font-size: 16px !important;
}

.pricing-bg .main-pricing .price-block .inner-price p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 34px;
    margin: 0;
    padding: 0;
}

.pricing-bg .main-pricing .price-block:hover .inner-price p {
    color: #fff;
}

.pricing-bg .main-pricing .price-block .inner-price .main-btn {
    margin-top: 62px;
    font-weight: 700;
}

.pricing-bg .main-pricing .price-block:hover .inner-price .main-btn {
    color: #b59e5c;
}

.pricing-bg .main-pricing .price-block:hover .inner-price .main-btn::before {
    content: url(../images/home-page/pricing-btn-bullet.png);
}

.pricing-bg .main-pricing .price-block:hover .inner-price .main-btn::after {
    content: url(../images/home-page/pricing-btn-bullet.png);
}


/* 4.6. ========== Pricing Section End ==========*/


/* 2 ========== Salon Section Start ==========*/

.salon__item {
    text-align: center;
    min-height: 455px;
    overflow: hidden;
}

/*

.salon__item button {
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 0;
    width: 155px;
    left: -77.5px;
    margin-left: 50%;
    bottom: 0px;
}
*/
.salon__item button {
    position: relative;
    bottom: 0;
    margin: 0;
    right: 0;
    width: 155px;
    /*    left: -77.5px;*/
    /*    margin-left: 50%;*/
    bottom: 0px;

    margin-top: 10px;
}

.salon__item .title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.salon__item .description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.salon__item--vertical {
    background: url(../img/sh__3.jpg);
    background-size: cover;
    text-align: center;
    min-height: 455px;
    overflow: hidden;
    padding-top: 128px;
}

.salon__item--vertical button {
    position: relative;
    width: 155px;
    margin-top: 10px;
}

.salon__item--vertical .title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.95);
}

.salon__item--vertical .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.95);
}


/* 2 ========== Salon Section END ==========*/


/* 3 ========== Section-3 Section Start ==========*/

.section-3 {
    background-image: url(../img/bg__sh--1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 59px 0px 58px 0px;
    text-align: center;
    clear: both;
    background-attachment: fixed;
}

.section-3 .title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 0.98em;
    color: #fff;
    text-align: center;
    margin-top: 78px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.section-3 .description {
    font-size: 28px;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/* 3 ========== Section-3 Section End ==========*/


/* 4 ========== Section-4 Section Start ==========*/

.section-4 {
    background-color: #f6f7f7;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /*    padding: 60px 0px 107px 0px;*/
    padding: 70px 0px 60px 0px;
}

.wrapper__circle--block {
    text-align: center;
}

.wrapper__circle--block > span.circle {
    /* background-color: #ff5000; */
    color: #ffffff;
    border-color: #ffffff;
    font-size: 30px;
    padding: 38px;
    border-width: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #818a91;
    font-size: 50px;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.wrapper__circle--block > span.circle > i {
    /*
    width: 1em;
    height: 1em;
*/
    position: relative;
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #ff5000;
}

.wrapper__circle--block > .desc {
    color: #222a3e;
    font-size: 18px;
    line-height: 1.45em;
    margin-bottom: 15px;
}

.wrapper__circle--block > .desc-2 {
    color: #838790;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
}


/* 4 ========== Section-4 Section End ==========*/


/* 4.2 ========== Section gallery  Section Start ==========*/

#investment__object {
    padding-top: 50px;
}

.mosaicflow__item {
    padding: 5px;
}

.mosaicflow__column {
    float: left;
}

.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    HEIGHT: 254PX;
}

.mosaicflow__item img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}


/* 4.2 ========== Section gallery  Section END ==========*/
/* 4.3 ========== Section gallery  INN Page Start ==========*/

#Gallery__Page__IN {
    padding-top: 50px;
}

.mosaicflow__item--Page__IN {
    padding: 5px;
}

.mosaicflow__item--Page__IN {
    float: left;
}

.mosaicflow__item--Page__IN img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    HEIGHT: 180px;
}

.mosaicflow__item--Page__IN img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}


/* 4.2 ========== Section gallery  INN Page Start  ==========*/


/* 5 ========== Section Reviews  Section Start ==========*/

.carousel-indicators {
    bottom: -43px;
}

.reviews__item {
    padding: 5px;
}

.glyphicon-chevron-right:before {
    content: "\f101" !important;
    font-family: 'FontAwesome';
}

.glyphicon-chevron-left:before {
    content: "\f100" !important;
    font-family: 'FontAwesome';
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: -22px;
    font-size: 50px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 50px;
    height: 50px;
    margin-top: -32px;
    font-size: 50px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -10px;
    font-size: 50px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 50px;
    height: 50px;
    margin-top: -32px;
    font-size: 50px;
}

.carousel-control.right {
    right: -38px;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    width: 0%;
    font-size: 33px;
    color: #ff5000;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .7;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ff5000;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ff5000;
    border-radius: 10px;
}

.carousel-control:focus,
.carousel-control:hover {
    color: #ff5000;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .95;
}


/* 5 ========== Section Reviews  Section END ==========*/


/* 6 ========== Section-6 CONTACT Section Start ==========*/

.contact__section {
    background-color: #ff5000;
    padding: 56px 0px 56px 0px;
}

.contact__item > i {
    font-size: 46px;
    color: #ffffff;
    border-color: #ffffff;
    float: left;
    margin-right: 18px;
}

.contact__item > h3 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1em;
}

.contact__item > p {
    font-size: 18px;
    color: #ffffff;
    border-color: #ffffff;
    /* float: left; */
    /* margin-right: 18px; */
    padding-left: 45px;
}


/* 6 ========== Section-6 CONTACT Section End ==========*/


/* 7 ========== Footer Section Start ==========*/
/*

footer {
    background: #161616;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
}

footer ul {
    list-style-type: none;
    margin-bottom: 0px;
    height: 76px;
    line-height: 76px;
    text-align: center;
}

footer ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

footer ul > li > a {
    font-size: 24px;
    color: #fff;
}
*/


/* 7 ========== Footer Section End ==========*/


#gridSystemModal form {
    background: #f5f5f5;
    border-radius: 8px;
    background-clip: padding-box;
    margin: 0 auto;
    padding: 25px 30px 30px;
    margin-top: 130px;
    text-align: center;
    width: 430px
}

#gridSystemModal form .politika {
    margin-top: 12px
}

#gridSystemModal form .politika a {
    display: block;
    color: #1f1f1f
}

#gridSystemModal form input {
    width: 100%;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    background: #fff;
    padding: 12px 18px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 20px
}

#gridSystemModal form h3 {
    color: #040404;
    margin-bottom: 36px;
    font-weight: 500
}

#gridSystemModal form h3 span {
    color: #00ccfa
}

.btn__new2 {

    width: 100%;
    border: 0;

    font-weight: 600;
    font-size: 16px
}

@media (max-width: 1200px) {
    .logo__header {
        padding-top: 9px;
    }
}

@media (max-width:768px) {
    .logo__header {
        padding-top: 0px;
    }
    .sub-title {
        text-align: center;
        font-size: 18px;
        margin-top: -15px;
        margin-bottom: 0px;
        color: rgba(51, 51, 51, 0.89);
    }


    #gridSystemModal form {
        width: 90%;
        margin: 10px auto
    }

    .mobile__text-center {
        text-align: center;
    }

    .p__neopredelen {
        text-align: center;
        color: #7a7a7a;
        font-size: 14px;
    }

    .pl-40 {
        padding-left: 0px;
    }

    .pt-100 {
        padding-top: 20px;
    }

    .img-test {
        height: auto;
        width: auto;
        width: 100%;

    }

    .h2-title {

        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 600;
    }

    .section-title {

        margin-bottom: 0px !important;
    }

    .btn-default {
        margin-top: 30px;
        border-radius: 0px;
        color: #fff;
        background-color: #ff5000;
        border-color: #ff5000;
        text-transform: uppercase;
        font-weight: 400;
        padding: 12px 25px 12px 25px;
        font-size: 14px;
    }

    .section-standart {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .section__reviews {
        padding-bottom: 50px;
    }

    .navbar {
        position: relative;
        min-height: 46px;
        height: 46px;
        border: none;
        box-shadow: none;
        /*        display: none;*/
    }

    .navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }

    .social-list--header:before {
        content: none;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 30px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .social-list--header {
        position: relative;
        text-align: left;
        padding-left: 0px;
        margin-left: 0px;
        color: rgb(255, 255, 255);
        margin-top: 0px;
        text-align: center;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {

        padding-bottom: 0px;
    }

    #header {
        /*
        position: absolute;
        width: 100%;
        z-index: 99;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        padding-bottom: 15px;
*/


        /*            position: absolute;*/
        position: fixed;
        width: 100%;
        z-index: 99;
        border-bottom: none;
        padding-bottom: 4px;
        /*        background: #1a1f1e;*/
    }

    .heading__text {
        padding-top: 70px;
        text-align: center;
        padding-bottom: 10px;
    }

    #MainCarousel.carousel.fade .item {
        display: block;

        transition: opacity .5s;
        height: auto;
        padding-bottom: 30px;
        background: url(/../img/mobile__header__bg--1.jpg);
        background-position-y: 90%;

    }



    .mobile__pdg-left__pdg-right__5 {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .logo__header > img {
        max-height: 60px;
    }

    .logo__header {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    .logo__header > p {
        border-left: 0px solid rgba(255, 255, 255, 0.64);
        padding-left: 0px;
        margin-left: 0px;
        padding-bottom: 0px;
        margin-top: -10px;
    }

    .heading__text > .heading-title {

        font-size: 22px;
        line-height: 30px;
        color: #2393da;

    }

    .heading__text > .heading-title > a {


        color: #2393da;

    }

    .heading__text > .heading-title > a > span {

        display: block;

    }


    .heading__text > .heading-desc {

        font-size: 18px;

        line-height: 30px;
    }



    .salon__item {
        text-align: center;
        min-height: inherit;
        padding-bottom: 20px;
        margin-top: 20px;

    }

    .salon__item .title {
        font-size: 18px;
        margin-top: 16px;
    }

    .salon__item .description {

        font-size: 16px;
        margin-top: 10px;
    }

    .salon__item button {
        position: relative;
        bottom: inherit;
        margin: inherit;
        right: inherit;
        width: auto;
        left: inherit;
        margin-left: inherit;

    }

    .salon__item--vertical {
        background: url(../img/girls__salon-2.jpg);
        background-size: cover;
        text-align: center;
        min-height: inherit;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .salon__item--vertical .title {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin-top: 0px;
        color: rgba(255, 255, 255, 0.95);
    }

    .salon__item--vertical .description {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin-top: 0px;
        color: rgba(255, 255, 255, 0.95);
    }

    .section-3 {
        /*        background-image: url(../img/gallery/mini-sh-4.jpg);*/

        padding: 25px 0px 25px 0px;
        text-align: center;
        clear: both;
    }

    .section-3 .title {
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 0.98em;
        color: #fff;
        text-align: center;
        margin-top: 78px;
        margin-top: 5px;
    }

    .section-3 .description {
        font-size: 18px;
        font-weight: 200;
        text-transform: uppercase;
        color: #fff;
        text-align: center;

        font-family: 'Roboto', sans-serif;
    }

    .mosaicflow__item img {

        HEIGHT: 150PX;
        height: auto;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 1px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .carousel-indicators .active {
        width: 15px;
        height: 15px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #ff5000;
    }

    .wrapper__circle--block {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 25px;
    }



    /* 2.6. ========== Pricing Section Start ==========*/


    .pricing-bg .main-pricing .price-block .inner-price h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price .main-btn {
        background-color: #fff;
        border-color: #fff;
    }

    .pricing .pricing-bg {
        < !-- background-image: url(../images/home-page/dark/pricing-border-line.png), url(../images/home-page/dark/pricing-border-line.png);
        -- >
    }


    /* 2.6. ========== Pricing Section End ==========*/


    /* 4.6. ========== Pricing Section Start ==========*/

    .pricing .pricing-bg {

        padding: 40px 0 70px 0;
    }

    .pricing-bg .main-pricing {
        float: left;
        width: 100%;
        /*	padding:44px 0 0 0;*/
    }

    .pricing-bg .main-pricing .price-block {
        float: left;
        width: 100%;
        position: relative;
        text-align: center;
        border: 4px solid #ff5100;
        /*	padding:3px;*/
        cursor: pointer;
        border-radius: 2px;
        transition: 0.4s;
        margin-bottom: 20px;
    }

    .pricing-bg .main-pricing .price-block .inner-price {
        padding: 10px 8px;
        padding-bottom: 15px;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price {
        background-color: #ff5000ad;
    }

    .pricing-bg .main-pricing .price-block:hover {
        transition: 0.4s;
        transform: scale(1.03);
        box-shadow: 0px 0px 10px 10px #ff5100;
        box-shadow: 0px 0px 38px 4px #ff5100;
    }

    .pricing-bg .main-pricing .price-block .inner-price h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 0px;
        text-align: center;
        height: auto;
        text-align: center;
        height: auto;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price h3 {
        color: #ffffff;
    }

    .pricing-bg .main-pricing .price-block .inner-price h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 26px !important;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price h1 {
        color: #fff;
    }

    .pricing-bg .main-pricing .price-block .inner-price h1 span {
        font-size: 16px !important;
    }

    .pricing-bg .main-pricing .price-block .inner-price p {

        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 34px;
        margin: 0;
        padding: 0;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price p {
        color: #fff;
    }

    .pricing-bg .main-pricing .price-block .inner-price .main-btn {
        margin-top: 62px;
        font-weight: 700;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price .main-btn {
        color: #b59e5c;
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price .main-btn::before {
        content: url(../images/home-page/pricing-btn-bullet.png);
    }

    .pricing-bg .main-pricing .price-block:hover .inner-price .main-btn::after {
        content: url(../images/home-page/pricing-btn-bullet.png);
    }


    /* 4.6. ========== Pricing Section End ==========*/
    /* 7 ========== Why choose us Section Start ==========*/
    .section-4 {

        padding: 40px 0px 40px 0px;
    }

    .wrapper__circle--block > span.circle {
        /* background-color: #ff5000; */

        font-size: 30px;
        padding: 18px;


    }

    .wrapper__circle--block > span.circle > i {

        font-size: 38px;

    }

    /* 7 ========== Why choose us Section End ==========*/

    #investment__object {
        padding-top: 30px;
    }
}

@media (max-width:380px) {
    .logo__header > p {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        transform: translateY(11px);
    }

    .logo__header > img {
        max-height: 40px;
        margin-top: 6px;
    }

    .logo__header > img {
        max-height: 40px;
        margin-top: 6px;
    }

    .header-fixed .logo__header > img {
        max-height: 40px;
        margin-top: 6px;
    }


    .header-fixed .logo__header > img {
        max-height: 40px;
        margin-top: 6px;
    }

    .header-fixed .logo__header > p {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        transform: translateY(11px);
    }
}



.item__msg--footer.item__viber {

    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    overflow: hidden;
}

.item__msg--footer.item__viber:after {
    content: "";
    display: block;
    width: 40px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1) 10%, hsla(0, 0%, 100%, .2) 20%, hsla(0, 0%, 100%, .6));
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 5s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}


@media (max-width: 768px) {
    .mobile__item--car {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

/*-------- Банковская карта ----------*/

article.online__oplata,
aside {
    display: block;
}



article.online__oplata {
    padding-top: 15px;
    padding-bottom: 20px;
}

article.online__oplata .container {
    width: 70%;
    margin: 0 auto;
}

article.online__oplata .container h2 {
    font-weight: 300;
    letter-spacing: -.1rem;
    font-size: 50px;
    margin-bottom: 50px;
}

article.online__oplata .container p {
    padding-bottom: 15px;
}

article.online__oplata .victim {
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #16161657;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgb(33, 148, 223);
    width: auto;
    margin-top: 0px;
}

article.online__oplata .victim h1 {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 15px;
    font-weight: normal;
    color: rgb(22, 22, 22);

    margin-top: 0px;
    display: block;
    clear: both;
}


article.online__oplata .victim img {
    float: right;

    margin-right: 0px;



    margin-bottom: 0px;
    margin-top: 10px;
}

article.online__oplata .victim p {
    font-family: Arial, serif;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 7px;
}

article.online__oplata .victim sup {
    color: red;
}

article.online__oplata .victim input:focus {
    outline: 0;
    border-bottom: 1px solid #33C3F0;
}



article.online__oplata .victim input {
    border: none;
    border-bottom: 1px solid #757575;
}



article.online__oplata .victim #button:hover {
    background-color: rgba(148, 133, 140, .1);
    color: #333;
    border-color: #888;
    outline: 0;
}


article.online__oplata .victim #button {
    margin-left: 336px;
    margin-top: -42px;
    display: block;
    padding: 0 30px;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border: 1px solid #bbb;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}

.item__oplata {
    display: none;
}

.item__oplata-2 {
    display: none;
}


@media (min-width: 1200px) {
    .item__oplata-2 {
    display: inline-block;
}
    
    .nav>li>a {

    padding: 10px 9px;
}
    
    
}
@media (max-width: 1200px) {
    .item__oplata-2 {
    display: inline-block;
}
}
@media (max-width: 768px) {
    .item__oplata-2 {
    display: none;
}
    #contact {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }

    article.online__oplata .victim h1 {

        font-size: 26px;
    }

    article.online__oplata .victim #button {
        margin-left: inherit;
        margin-top: 10px;
        display: block;
        padding: 0 30px;
        font-size: 11px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        border: 1px solid #2492d8;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 3px;
        background: #2393d9;
        color: #fff;
        font-size: 16px;
    }


    article.online__oplata .victim input {

        width: 100%;
    }

    article.online__oplata .victim input {

        width: 100%;
    }


    article.online__oplata .victim {
        margin-bottom: 0px;
    }

    article.online__oplata {

        padding-bottom: 0px;
    }


    .item__oplata {
        display: inline-block;
    }


}

.x_car_offer_main_boxes_wrapper {
    position: relative;
}

.x_car_offer_main_boxes_wrapper > .spec-predl {
    position: absolute;
        height: 64px;
    overflow: hidden;
    z-index: 5;
}

.line-price{
     position: relative;
/*        font-size: 18px;*/
}
.line-price:before {
    content: '';
    position: absolute;
    height: 1.3px;
    width: 103%;
    background: #ed1b23;
    border-radius: 50px;
    top: 50%;
}

.new-price {
       font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    background: #2593d8;
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 768px) {
    .x_car_offer_main_boxes_wrapper > .spec-predl {

        height: 52px;
 
}
    
    .line-price{
     position: relative;
/*        font-size: 18px;*/
}
}

.new__dop--services {
    transform: translateY(7px);
}
.clear__mobile {
    display: none;
}
@media (max-width: 768px) {
  .clear__mobile {
    display: block;
    clear: both;
}  
    .new__dop--services {
    transform: translateY(2px);
}
}

