@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lmwqfj');
  src:  url('fonts/icomoon.eot?lmwqfj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lmwqfj') format('truetype'),
    url('fonts/icomoon.woff?lmwqfj') format('woff'),
    url('fonts/icomoon.svg?lmwqfj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yacht:before {
  content: "\e900";
}
.icon-boat:before {
  content: "\e901";
}
.icon-boat-1:before {
  content: "\e902";
}
.icon-luxury-yacht:before {
  content: "\e903";
}
